* {
  box-sizing: border-box;
}

@media screen and (max-width: 999px) {
  .main {
    flex-direction: column;
  }

  .box-sedan {
    border-radius: 10px 10px 0 0;
  }

  .box-luxury {
    border-radius: 0 0 10px 10px;
  }

  .col {
    width: 18rem;
  }
}

@media screen and (min-width:1000px) {

  /* For desktop: */
  .col {
    width: 18rem;
  }

  .box-sedan {
    border-radius: 10px 0 0 10px;
  }

  .box-luxury {
    border-radius: 0 10px 10px 0;
  }
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  text-align: left;
  margin: 0 30px 20px 60px;
}

.content-text {
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  text-align: left;
  line-height: 1.5;
  width: 60%;
  margin: 0 0 0 60px;
  font-size: 0.9em;
  height: 150px;
}

body {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  margin: 50px 0 30px 60px;
}

/*.header{
  background-color: hsl(0, 0%, 95%);
  height: 150px;
}*/
.main {
  background-color: hsl(0, 0%, 95%);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.box-sedan {
  background-color: hsl(31, 77%, 52%);
  height: 480px;
  margin: 0;
  position: relative;
}

.box-suv {
  background-color: hsl(184, 100%, 22%);
  height: 480px;
  margin: 0;
  position: relative;
}

.box-luxury {
  background-color: hsl(179, 100%, 13%);
  height: 480px;
  margin: 0;
  position: relative;
}

.disclaimer {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.8em;
}

.disclaimer a {
  margin-left: 2px;
}

.btn {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  background-color: hsl(0, 0%, 95%);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 60px;
}

.btn-sedan {
  color: hsl(31, 77%, 52%)
}

.btn-sedan:active {
  color: hsl(0, 0%, 95%);
  background: hsl(31, 77%, 52%);
}

.btn-suv {
  color: #006970;
}

.btn-suv:active {
  color: hsl(0, 0%, 95%);
  background: #006970;
}

.btn-luxury {
  color: #004241;
}

.btn-luxury:active {
  color: hsl(0, 0%, 95%);
  background: #004241;
}

.btn:active {
  border: solid #FFFFFF 1px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-decoration: none;
}
